
.bgimg{
  width: 100%;
  height: 100vh;
  background: url(../img/bbblurry.svg) no-repeat center center;
  background-size: cover;
}
.overlay{
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(10px);
}
.heading{
  @apply font-bold mx-10 pt-4;
  text-align: left;
  font-size: 2.5rem;
}
.inputs{
  width: 80%;
    height: 45px;
    margin: 40px 0px 0px 0px;
    border: 1px solid rgb(202 1 255);
    border-radius: 10px;
    padding-left: 10px;
}