.inputs{
    @apply mt-7 block px-5 py-3;
    border: 1px solid rgb(191, 191, 191);
    border-radius: 5px;
    width: 100%;
    
}
.btn{
    @apply  mt-8 px-2 py-3;
    display: block;
    background-color: #f2f2f280;
    box-shadow: 0 0 10px #0000002b;
    border-radius: 5px;
    width: 100%;
}
.bgimg{
    width: 100%;
    height: 100vh;
    background: url("../img/bbblurry.svg") center center no-repeat;
}
.overlay{
    width: 100%;
    height: 100vh;
    background: rgba(255,255,255,0.7);
    backdrop-filter: 10px;
}

.selhead{
    @apply px-5 block mt-5 text-xl;
    
}
.selection{
    @apply px-5 py-3 rounded-md mt-3;
    background-color: #f2f2f280;
    box-shadow: 0 0 10px #0000002b;
    width: 100%;
}